.config {
  display: flex;
  position: absolute;
  top: 0px;
  button {
    margin-left: 10px;
  }
}
.editor {
  border: 1px solid black;
  min-height: 500px;
  margin-top: 30px;
}
.color-item {
  width: 15px;
  height: 20px;
  margin: 0 auto;
}
.color-container {
  width: 30px;
  height: 240px;
  display: none;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
li {
  width: 30px;
  padding: 3px 0px;
  text-align: center;
}
@font-face {
  font-family: 'iconfont';  /* project id 647758 */
  src: url('//at.alicdn.com/t/font_647758_eo7r7p18y6i529.eot');
  src: url('//at.alicdn.com/t/font_647758_eo7r7p18y6i529.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_647758_eo7r7p18y6i529.woff') format('woff'),
  url('//at.alicdn.com/t/font_647758_eo7r7p18y6i529.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_647758_eo7r7p18y6i529.svg#iconfont') format('svg');
}
.i-bold,.i-header, .i-horizontal, .i-italic, .i-strike,.i-color {
  font-family: 'iconfont';
  font-style: normal;
  font-size: 12px;
}
.i-bold:before {
content: "\e6d9";
}
.i-italic:before {
  content: "\e6f8";
}
.i-strike:before{
  content: "\e65b";
}
.i-horizontal:before{
 content: "\e652";
}
.i-header:before {
  content: "\e66f";
}
.i-color:before {
content: "\e677";
}